.fondo1{
    background-color: rgb(221, 217, 217);
}
.seccion_general{
    margin: auto;
    width: 37.5rem;
    height: auto;
}
.logo{
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    margin: 0 0 0 8rem;
    margin-top: 8rem;
}
.logo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.form_1{
    display: grid;
    justify-content: center;
}
.password{
    color: gray;
    font-size: 2rem;
    background-color:rgb(221, 217, 217);
    margin: 1rem 0 0 4.5rem;
    border: solidrgb(221, 217, 217);
}
.password input{
    background-color:rgb(221, 217, 217);
    border: solid rgb(221, 217, 217);
}
.linea2{
    width: 28rem;
    height: 0.2rem;
    background-color: black;
    margin: 0.5rem 3rem 0 0;
}
.uss{
    color: gray;
    font-size: 2rem;
    margin: 5rem 0 0rem 5rem; 
}
.uss input{
    background-color: rgb(221, 217, 217);
    border: solid rgb(221, 217, 217);
}
.linea1{
    width: 28rem;
    height: 0.2rem;
    background-color: black;
    margin: 0.5rem 3rem 0 4.5rem;
}
.textfor{
    font-size: 1.5rem;
    width: 30rem;
    height: 8.5rem;
    color: gray;
    padding: 2rem 0 0 15.5rem;
}
.boton input{
    font-size: 3rem;
    color: white;
    width: 28rem;
    height: 4rem;
    margin: 0 0 0 4.5rem;
    border-radius: 10rem;
    background-color: rgb(187, 177, 177);
    border: solid  rgb(187, 177, 177); 
}
footer{
    width: 100%;
    height: 2rem;
}
.menu1{
    width: 15rem;
    height: 0.5rem;
    background-color: black;
    margin: 12rem 3rem 2rem 11rem;
    border-radius: 2rem;
}